* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.counter {
  background: orange;
  color: white;
  font-size: 35px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
  margin: 70px auto;
  text-align: center;
}

.increment-btn {
  background-color: green;
  color: white;
  font-size: 25px;
}

.profile {
  background-color: purple;
  color: white;
  font-size: 25px;
  border: 2px solid white;
  border-radius: 5px;
  width: 700px;
  margin: 70px auto;
  padding: 10px 20px;
}

.shoping-list {
  background-color: blue;
  color: white;
  font-size: 25px;
  border: 2px solid white;
  border-radius: 5px;
  width: 700px;
  margin: 70px auto;
  padding: 10px 20px;
}

.item-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.users {
  background: black;
  color: white;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 5px;
  width: 90%;
  margin: 70px auto;
  padding: 10px 20px;
}

.user-cart-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.user-cart {
  background: pink;
  color: black;
  font-size: 15px;
  border: 2px solid white;
  border-radius: 5px;
  width: 100%;
  padding: 10px 20px;
}

.selected-user-parent {
  background: black;
  color: white;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 5px;
  width: 90%;
  margin: 70px auto;
  padding: 10px 20px;
}